<div id="card">
        <div id="front">
          <div id="arrow"><i class="fa fa-arrow-left"></i></div>
          <div id="top-pic"></div>
          <div id="avatar"></div>
          <div id="info-box">
            <div class="info">
              <h1>Jesse Couch</h1>
              <h2>Digital Creative</h2>
            </div>
          </div>
          <div id="social-bar">
            <a href="https://www.facebook.com/designcouch" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com/designcouch" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.dribbble.com/designcouch" target="_blank">
            <i class="fa fa-dribbble"></i>
            </a>
            <a href="https://www.codepen.io/designcouch/public">
            <i class="fa fa-codepen"></i>
            </a>
            
            <a href="javascript:void" class="more-info">
              <i class="fa fa-user"></i>
            </a>
          </div>
        </div>
</div>