<div class="backdrop"></div>
<a class="nav-button child" href="/" data-subitem="1"><span>Home</span></a>
<a class="nav-button child" href="/blog" data-subitem="2"><span>Blog</span></a>

{% assign i = 2 %}
{% for my_page in site.pages %}
  {% if my_page.title %}
    {% assign i = i | plus:1 %}
    <a class="nav-button child" href="{{ my_page.url | relative_url }}" data-subitem="{{ i }}"><span>{{ my_page.title | escape }}</span></a>
  {% endif %}
{% endfor %}
{% if page.url == "/" %}
<div class="nav-button" id="masterfab" style="display: none"><span class="icon"><i class="fas fa-bars"></i></span></div>
{% else %}
<div class="nav-button" id="masterfab"><span class="icon"><i class="fas fa-bars"></i></span></div>
{% endif %}