{% assign colour_value = "danger, info, warning, primary, link, dark" | split: ', ' %}
{% assign random = colour_value | sample %}
{% assign bold = " is-bold,  " | split: ', ' | sample %}
{% assign colour_tag = "hero is-" | append: random | append: bold %}
<section class="{{ colour_tag }}">
  <div class="hero-body">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <div class="container is-fluid">
      <a href="{{ post.url | relative_url }}">
        <h1 class="title">
            {{ post.title | escape }}
        </h1>
        <h2 class="subtitle" style="white-space: normal; text-overflow: clip">
          {{ post.excerpt | strip_html | truncatewords:20 }}
        </h2>
        <h4 class="subtitle is-size-6">{{ post.date | date: date_format }}</h4>
      </a>
    </div>
  </div>
</section>