---
# Only the main Sass file needs front matter (the dashes are enough)
---

.split.columns {
  margin: 0 !important;

  & .column {
    padding: 0 !important;
    max-width: 50vw;
  }

  @media screen and ( max-width: 770px){
    & .column {
      max-width: initial;
    }
  }
}

section.home {
  margin-top: 1em;
}

img.avatar {
  border-radius: 50%;
}

p.subtitle a {
  font-weight: bold;
}

span.title {
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  box-decoration-break: clone;
  background: #fff;
  color: #111 !important;
  padding: 0.5rem 1rem;
  filter: url('#goo');
  text-transform: uppercase;
  line-height: 1.25;
}

span.title + h4.subtitle {
  margin-top: 2rem !important;
}

h1 {
  font-family: Raleway;
  font-size: 23 px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23 px;
}
h3 {
  font-family: Raleway;
  font-size: 17 px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23 px;
}
p {
  font-family: Raleway;
  font-size: 14 px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23 px;
}
blockquote {
  font-family: Raleway;
  font-size: 17 px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23 px;
}
pre {
  font-family: Raleway;
  font-size: 11 px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23 px;
}

body {
  font-family: Raleway !important;
}

.nav-button {
  background: #fff;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  text-align: center;
  color: #010101;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 48px;
  left: 48px;
  font-size: 2.6667em;
  display: inline-block;
  z-index: 100;
  padding: 5px;
  line-height: 1;
  cursor: pointer;
  filter: url('#goo');
}
.nav-button span {
  vertical-align: middle;
}
.nav-button.child {
  border-radius: 5%;
  height: 50px;
  display: none;
  opacity: 0;
  font-size: 2em;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(32, 32, 32);
  opacity: 0.8;
  display: none;
  z-index: 100;
}


// .profile{
//   padding: 1rem;  
// }

// .profile:hover{
//   box-shadow: 0px 2px 2px rgba(94, 94, 94, 0.473);
// }