---
layout: default
---
{% assign colour_value = "danger, info, warning, primary, link, dark, light" | split: ', ' %}
{% assign random = colour_value | sample %}
{% assign bold = " is-bold,  " | split: ', ' | sample %}
{% assign colour_tag = "hero is-medium is-" | append: random | append: bold %}
<section class="{{colour_tag}}">
    <div class="hero-body">
        <div class="container has-text-centered">
            <span class="title" itemprop="name headline">{{ page.title | escape }}</span>
            <h4 class="subtitle is-size-4">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
              </time>
              {% for member in page.authors %}
              {% assign author = site.people | where:"github", member | first %}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"><a href="{{author.url}}">{{ author.name }}</a></span></span>
              {% endfor %}
            </h4>
        </div>
    </div>
</section>

<div class="container">
  <div class="column is-8 is-offset-2">
  <!-- START ARTICLE -->
    <div class="content blog-post section" itemprop="articleBody">
        {{ content }}
    </div>
    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </div>
</div>